/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f7f7f7;
    font-size: 18px;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
}

header {
    background-color: lightblue;
    color: #fff;
    padding: 20px 0;
}

header h1 {
    font-size: 2em;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.section {
    padding: 40px 0;
}

.section h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

#intro {
    background-image: url("../img/home.jpg");
    height: 600px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.5; /* Adjust the opacity to make the image look faded */
    z-index: -1; /* Place the pseudo-element behind the content */
}

/* Dropdown styles */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    color: white; /* White text */
    padding: 16px; /* Some padding */
    border: none; /* Remove borders */
    cursor: pointer; /* Mouse pointer on hover */
}

.dropdown-content {
    display: none; /* Hidden by default */
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px; /* Set a min width */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); /* Add shadow */
    z-index: 1; /* Sit on top */
}

.dropdown-content a {
    color: black; /* Black text */
    padding: 12px 16px; /* Some padding */
    text-decoration: none; /* Remove underline */
    display: block; /* Make it a block element */
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: lightblue;
}
