@charset "utf-8";

body {
    font-style: normal;
    margin-left: 200px; /* Add left margin to accommodate the side menu */
    margin-right: 50px;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header2 a:hover{
    color: grey;
}

.header2 a{
    margin-left: 30px;
    text-decoration: none;
    color: black;
}

.header i{
    margin-right:10px;
}

.logo{
    width:150px;
}

.menu {
    height: 100%;
    position: fixed;
    background-color: #E0F3FA;
    top: 0;
    left: 0;
    width: 150px; /* Set the width of the side menu */
}

.menu a{
    display: block;
    color: grey;
    text-align: center;
    font-size: 17px;
    text-decoration: none;
    padding: 8px 8px 8px 8px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.logout{
    margin-top: 190px;
}

.menu i{
    display: block;
}

.menu a:hover{
    background-color: rgba(128, 128, 128, 0.5);
    color: white;
}

.content {
    box-sizing:border-box;
    display: flex;
    border-radius: 15px;
    padding:20px;
    border:1px solid black;
    padding-left: 50px; /* Add padding to the left to prevent overlap with the side menu */
}

.diseases a{
    display:block;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.diseases a::before {
    content: '\2022'; /* Unicode character for a dot (•) */
    display: inline-block;
    margin-right: 5px; /* Adjust the spacing between the dot and text */
}

.diseases a:hover{
    color: grey;
}

.imgcontent{
    width:200px;
    margin-left: 200px;
}

.option{
    display: flex;
    align-items: center;
    padding: 30px;
    justify-content:space-around;
}

.option a{
    display: block;
    box-sizing:border-box;
    padding:20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    text-decoration: none;
    color: black;
}

.option i{
    display: block;
    text-align: center;
    padding-bottom: 10px;
}

.option a:hover{
    background-color: rgba(128, 128, 128, 0.5);
    color: white;
}


