<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/appointment.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <title>Appointment booking</title>
</head>
<body>
    <div class="menu">
        <img class="logo" src="{{ url_for('static', filename='img/logo.png') }}"></img>
        <a href="/userdash"><i class="bi bi-house-door-fill"></i>Dashboard</a>
        <a href="/uhistory"><i class="bi bi-clock-history"></i>History</a>
        <a href="/appointment_status"><i class="bi bi-chat-dots-fill"></i>Book Appointment</a>
        <a href="/userprofile"><i class="bi bi-person-fill"></i>Profile</a>
        <div class="logout">
            <a href="/logout"><i class="bi bi-box-arrow-right"></i>Logout</a>
        </div>
    </div>

    <div class="header">
        <h1>Book an Appointment</h1>
        <div class="header2">
            <a href="#" class="bi bi-bell-fill"></a>
            <span>Welcome, {{ session['name'] }}</span>
        </div>
    </div>

    <form class="bookapp" action="{{ url_for('book_appointment') }}" method="POST">
        <label for="date">Select Date:</label>
        <input type="date" id="date" name="date" placeholder="Please choose date" required>
        <label for="time">Select Time:</label>
        <input type="time" id="time" name="time" required>
        <label for="platform">Select Platform:</label>
        <select id="platform" name="platform" required>
            <option value=""></option>
            <option value="google_meet">Google Meet</option>
        </select>
        <label for="dermaid">Select Dermatologist:</label>
        <select id="dermaid" name="dermaid" required>
            <option value=""></option>
            {% for dermatologist in dermatologists %}
            <option value="{{ dermatologist.dermaid }}">{{ dermatologist.name }}</option>
            {% endfor %}
        </select>
        <label for="message">Message</label>
        <textarea type="message" id="message" name="message" placeholder="Leave any message"></textarea>
        <button type="submit">Request Appointment</button>
    </form>
</body>
</html>
